<div class="container" style="padding-top: 100px">

  <mat-card class="form">
    <h1>Thông tin cá nhân</h1>
  </mat-card>
  <br>
  
  <form class="form" [formGroup]="profileFormGroup" (ngSubmit)="onUpdateProfile()" >

    <!-- <ng-template matStepLabel>Create Your Profile</ng-template> -->

    <div *ngIf = "user.userType == 'ADMIN'">
        <mat-form-field class="full-width">
            <mat-select [(value)] = "owner.status" matInput  formControlName="status" placeholder = "Status" >
                <mat-option *ngFor="let status of OwnerStatus" [value]="status.value">
                    {{status.value}}
                </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
      
    <mat-form-field class="full-width">
      <input matInput placeholder="Full Name" formControlName="fullName" required>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControlName="email" required type="email">
    </mat-form-field>

    <br>
    <mat-form-field class="full-width">
      <span matPrefix></span>
      <input matInput placeholder="Phone Number" formControlName="phone" type="tel" required>
    </mat-form-field>

    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Address" formControlName="address" required>
      <mat-icon matSuffix>mode_edit</mat-icon>

    </mat-form-field>

    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Password" formControlName="password" required type="password">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <div>
      <button type="submit" mat-raised-button [disabled]="profileFormGroup.invalid">Update</button>
    </div>
  </form>
</div>