<div class="container">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="formGroup" class="form">
        <mat-icon color="accent">settings</mat-icon>
        <mat-form-field class="full-width">
          <input matInput placeholder="Tên" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Số Lượng Chỗ" formControlName="slots" required type="number">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="Trạng thái" [(value)]="statusSelected">
            <mat-option value="a" *ngFor="let a of status">{{a}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Địa Chỉ" formControlName="address" required type="number">
          </mat-form-field>

        <div class="row">
          <div class="col">
            <h4>Loại Xe</h4>
            <div *ngFor="let status of types; let i = index">
              <mat-checkbox class="full-width" checked="status.checked">
                {{status.name}}
              </mat-checkbox>
            </div>
          </div>

          <div class="col">
            <h4>Dịch Vụ</h4>
            <div *ngFor="let service of services; let ii = index">
              <mat-checkbox class="full-width" checked="service.checked">
                {{service.name}}
              </mat-checkbox>
            </div>
          </div>
        </div>

        <mat-list>
          <mat-list-item> Loại vé (áp dụng cho dịch vụ gửi xe)
            <mat-icon (click)="toTicketType()">confirmation_number</mat-icon>
          </mat-list-item>
        </mat-list>

      </form>
    </div>
    <div class="col-6">
      <app-map (location)="location($event)"></app-map>
    </div>
  </div>

  <div class="row">

  </div>
</div>
