
    <!-- Header -->
  <header id="home">
      <!-- Background Image -->
      <div class="bg-img" style="background-image: url('.././assets/img/background1.jpg');">
        <div class="overlay"></div>
      </div>
      <!-- /Background Image -->
    
  
      <!-- home wrapper -->
      <div class="home-wrapper">
        <div class="container">
          <div class="row">
  
            <!-- home content -->
            <div class="col-md-10 col-md-offset-1">
              <div class="home-content">
                <h1 class="text-success">VP<span class="white-text">arking</span></h1>
                <p class="white-text">
                    Ứng dụng tìm kiếm và quản lí bãi đỗ xe miễn phí
                </p>
                <!-- <input type="button" class="btn-warning" st > -->
                <div>
                    <button class="white-btn" style="width: 200px;" >Driver App</button>
                    <button class="main-btn" style="width: 200px;">Manager App</button>
                </div>
               
              </div>
            </div>
            <!-- /home content -->
          </div>
        </div>
      </div>
      <!-- /home wrapper -->
  
    </header>
    <!-- /Header -->
  
    <!-- About -->
    <div id="about" class="section md-padding">
  
      <!-- Container -->
      <div class="container">
  
         <!-- Section header -->
         <div class="section-header text-center">
          <h2 class="title">Dịch Vụ Cung Cấp</h2>
        </div>
        <!-- /Section header -->

        <!-- Row -->
        <div class="row">
  
      
          <!-- about -->
          <div class="col-md-4">
            <div class="about">
              <i class="fa fa-cogs"></i>
              <h3>Chuyên trang quản lí</h3>
              <p>Giúp bạn dễ giàn quản lí các trung tâm dịch vụ của mình,  thông  qua giao giao diện web chuyên nghiệp</p>
              <a href="#">Read more</a>
            </div>
          </div>
          <!-- /about -->
  
          <!-- about -->
          <div class="col-md-4">
            <div class="about">
              <i class="fa fa-magic"></i>
              <h3>Ứng dụng giành cho lái xe</h3>
              <p>Giúp tài xế tìm kiếm các dịch vụ một cách nhanh chóng và tiện lợi nhất từ hơn 2000 đối tác</p>
              <a href="#">Read more</a>
            </div>
          </div>
          <!-- /about -->
  
          <!-- about -->
          <div class="col-md-4">
            <div class="about">
              <i class="fa fa-mobile"></i>
              <h3>Ứng dụng quản lí bãi giữ xe</h3>
              <p>Quản lí, cập nhật  thông tim về bãi giữ xe của bạn đến với hơn 30000 người dùng thiết bị di động</p>
              <a href="#">Read more</a>
            </div>
          </div>
          <!-- /about -->
  
        </div>
        <!-- /Row -->
  
      </div>
      <!-- /Container -->
  
    </div>
    <!-- /About -->
  
  
    <!-- Portfolio -->
    <div id="portfolio" class="section md-padding bg-grey">
  
      <!-- Container -->
      <div class="container">
  
         <!-- Section header -->
         <div class="section-header text-center">
          <h2 class="title">Tính Năng Đang Phát Triển</h2>
        </div>
        <!-- /Section header -->
        <!-- Row -->
        <div class="row">
  
          <!-- Work -->
          <div class="col-md-4 col-xs-6 work">
            <img class="img-responsive" src=".././assets/img/nfc.jpg" alt="">
            <div class="overlay"></div>
            <div class="work-content">
              <span>Category</span>
              <h3>NFC</h3>
              <div class="work-link">
                <a href="#"><i class="fa fa-external-link"></i></a>
                <a class="lightbox" href=".././assets/img/nfc.jpg"><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div>
          <!-- /Work -->
  
          <!-- Work -->
          <div class="col-md-4 col-xs-6 work">
            <img class="img-responsive" src=".././assets/img/sua-chua.jpg" alt="">
            <div class="overlay"></div>
            <div class="work-content">
              <span>Category</span>
              <h3>Đặt trước các dịch vụ đi kèm</h3>
              <div class="work-link">
                <a href="#"><i class="fa fa-external-link"></i></a>
                <a class="lightbox" href=".././assets/img/sua-chua.jpg"><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div>
          <!-- /Work -->
  
          <!-- Work -->
          <div class="col-md-4 col-xs-6 work">
            <img class="img-responsive" src=".././assets/img/thanh-toan-dien-tu.jpg" alt="">
            <div class="overlay"></div>
            <div class="work-content">
              <span>Category</span>
              <h3>Thanh toán điện tử</h3>
              <div class="work-link">
                <a href="#"><i class="fa fa-external-link"></i></a>
                <a class="lightbox" href=".././assets/img/thanh-toan-dien-tu.jpg"><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div>
          <!-- /Work -->
  
          <!-- Work -->
          <!-- <div class="col-md-4 col-xs-6 work">
            <img class="img-responsive" src=".././assets/img/work4.jpg" alt="">
            <div class="overlay"></div>
            <div class="work-content">
              <span>Category</span>
              <h3>Lorem ipsum dolor</h3>
              <div class="work-link">
                <a href="#"><i class="fa fa-external-link"></i></a>
                <a class="lightbox" href=".././assets/img/work4.jpg"><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div> -->
          <!-- /Work -->
  
          <!-- Work -->
          <!-- <div class="col-md-4 col-xs-6 work">
            <img class="img-responsive" src=".././assets/img/work5.jpg" alt="">
            <div class="overlay"></div>
            <div class="work-content">
              <span>Category</span>
              <h3>Lorem ipsum dolor</h3>
              <div class="work-link">
                <a href="#"><i class="fa fa-external-link"></i></a>
                <a class="lightbox" href=".././assets/img/work5.jpg"><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div> -->
          <!-- /Work -->
  
          <!-- Work -->
          <!-- <div class="col-md-4 col-xs-6 work">
            <img class="img-responsive" src=".././assets/img/work6.jpg" alt="">
            <div class="overlay"></div>
            <div class="work-content">
              <span>Category</span>
              <h3>Lorem ipsum dolor</h3>
              <div class="work-link">
                <a href="#"><i class="fa fa-external-link"></i></a>
                <a class="lightbox" href=".././assets/img/work6.jpg"><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div> -->
          <!-- /Work -->
  
        </div>
        <!-- /Row -->
  
      </div>
      <!-- /Container -->
  
    </div>
    
    <!-- /Portfolio -->
  
  
  
    <!-- /Team -->
  
    <!-- Contact -->
    <div id="contact" class="section md-padding">
  
      <!-- Container -->
      <div class="container">
  
         <!-- Section-header -->
         <div class="section-header text-center">
          <h2 class="title">Liên Hệ</h2>
        </div>
        <!-- /Section-header -->
        <!-- Row -->
        <div class="row">
  
          <!-- contact -->
          <div class="col-sm-4">
            <div class="contact">
              <i class="fa fa-phone"></i>
              <h3>Phone</h3>
              <p>0962810884</p>
            </div>
          </div>
          <!-- /contact -->
  
          <!-- contact -->
          <div class="col-sm-4">
            <div class="contact">
              <i class="fa fa-envelope"></i>
              <h3>Email</h3>
              <p>atpteam.solution@gmail.com</p>
            </div>
          </div>
          <!-- /contact -->
  
          <!-- contact -->
          <div class="col-sm-4">
            <div class="contact">
              <i class="fa fa-map-marker"></i>
              <h3>Address</h3>
              <p>12 Nguyễn Văn Bảo, phường 4, quận Gò Vấp, TP.HCM</p>
            </div>
          </div>
          <!-- /contact -->
        </div>
        <!-- /Row -->
  
      </div>
      <!-- /Container -->
  
    </div>
    <!-- /Contact -->
    <!-- /Footer -->
  
    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->
  
    <!-- Preloader -->
    <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- /Preloader -->
  
    <!-- jQuery Plugins -->
    <script type="text/javascript" src=".././assets/js/jquery.min.js"></script>
    <script type="text/javascript" src=".././assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src=".././assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src=".././assets/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src=".././assets/js/main.js"></script>
 