<div class="container">
  <mat-card class="form">
    <mat-card-header>
      <mat-card-title>Card with multiple sections</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <!-- <form [formGroup]="formGroup" class="form">

            <mat-form-field class="full-width">
              <mat-select placeholder="loại xe" formControlName="vehicleTypes">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="dịch vụ" formControlName="services">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="giá" formControlName="price" required type="number">
            </mat-form-field>

            <mat-form-field class="full-width">
              <textarea minRows="2" matInput placeholder="mô tả" formControlName="description" required type="number">
            </mat-form-field>

            <div>
               <button mat-raised-button color="accent" disable="!formGroup.invalid">Save</button>
                <button mat-button>Cancel</button>
            </div>
          </form> -->
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>