@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 800px;
}
body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.example-header{
  min-height: 64px;
  padding: 8px 24px 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-form-field{
  overflow: auto;
  max-height: 500 px;
}
