<div class="container">
  <mat-card class="form">
    <mat-card-header>
      <mat-card-title>Card with multiple sections</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" *ngIf=dataSource>
          <!-- Position Column -->
          <ng-container matColumnDef="stt">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Loại </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vehicleTypeName}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="service">
            <mat-header-cell *matHeaderCellDef> Dịch Vụ </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.serviceID}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Giá </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Mô Tả </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Event -->
          <ng-container matColumnDef="xxxx">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon color="accent">mode_edit</mat-icon>
              <mat-icon color="accent">delete</mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>